<div class="container-fluid">
    <div class = "row">
      <div class = "col-md-5">
        <app-recipe-list
        (recipeSelectedEvent) = 'recipeListItemSelected($event)'></app-recipe-list>
      </div>
      <div class = "col-md-7">
        <!-- <app-recipe-detail 
        *ngIf = "selectedRecipeItem; else infoText"
        [recipeItem] = "selectedRecipeItem"></app-recipe-detail>
      </div>
      <ng-template #infoText>
        <p>Please select a recipe</p>
      </ng-template> -->
      <router-outlet></router-outlet>
    </div>
  </div> 